body {
    background-color: #111320;     /* other is 353744 */
    overflow-x: hidden;
    color: white;
    font-family: laro;
}

** {
    border: white solid 2px;
}

li {
    display: inline-block;
}

.navbar {
    font-family: laro;
    font-weight: 600;
    border-bottom: 2px solid #353744;
    padding-right: 10vw;
}

.navbar-container {
    border-bottom: 2px #353744;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.navbar-logo {
    position: absolute;
    left: 10vw;
    text-decoration: none;
    color: white;
    height: auto;
}

.navbar-item {
    list-style: none;
    margin: 0 2rem;
}

.navbar-link {
    text-decoration: none;
    color: white;
    display: block;
}

.section {
    height: 450px;
    margin-top: 75px;
}

h1, h3 {
    text-align: center;
    margin: 0px;
}

a {
    text-decoration: none;
    color: rgb(0, 64, 255);
}

#image-track {
    margin-top: 15vmin;
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(0%, -50%);
    user-select: none;
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}