body{
    background-color: white;
    transition: background-color 2s ease-in-out;
    overflow-x: hidden;
}

body.loaded{
    background-color: #282828;
}

.main-text{
    user-select: none;
    color: #282828;
    transition: color 2s ease-in-out;
    font-size: 6vw;
    text-align: center;
    margin-top: 25px;
    line-height: 80%;
    font-family: laro;
    font-weight: 600;
}

.main-text.loaded{
    color: white;
}

#image-track{
    margin-top: 2vmin;
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(0%, -50%);
    user-select: none;
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

#testsquare{
    position: relative;
    top: 20vmin;
    background-color: white;
    width: 10vmin;
    height: 150vmin;
    object-position: center;
    margin: 0 auto;
}